<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hn.techcom.com.hncitipages">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/newlogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/newlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="m">
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.PostsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.SupportersOrSuppoertingProfilesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.UserProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.ViewCommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.ViewLikesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.PostAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.PostImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.PostStoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.PostVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="hn.techcom.com.hncitipages.Activities.OnboardingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name="hn.techcom.com.hncitipages.Activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="hn.techcom.com.hncitipages.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>